.App {
  text-align: center;
  font-size: calc(16px + 2vmin);
}

.App-header {
  background-color: var(--pink-200);
  color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--pink-50);
}

.content-wrap {
  flex: 1;
}

/* dashboard */

.dashboard {
}

/* footer */

.footer {
  background-color: var(--pink-400);
  color: white;
  padding-top: 3rem;
  position: relative;
  bottom: 0;
}


/* prime react grid */

.grid {
  margin-right: 0;
}
