.App {
  text-align: center;
  font-size: calc(16px + 2vmin); 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--pink-200);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* dashboard */

.dashboard {
  background-color: var(--pink-50);
}



/* footer */

.footer {
  background-color: var(--pink-400);
  color: white;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
